.slider {
  width: 100%;
  height: 0.75rem;
  appearance: none;
  cursor: pointer;
  border-radius: 9999px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.slider::-moz-range-thumb {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
