@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #f5f5f5;
  --surface-default: #171717;
  --surface-muted: #262626;
  --text-subtle: #a1a1a1;
  --fill-default: #3880b9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
}

ul {
  padding-left: 1em;
}

li {
  list-style: disc;
}

button {
  cursor: pointer;
}

/* Remove number input spinners */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
